.testimonial-card-0 {top: 50px;left: 10px;}
.testimonial-card-1 {top: 150px;right: 40px;}
.testimonial-card-2 {bottom: 170px;left: 80px;}
.testimonial-card-3 {top: 0;right: 380px;}
.testimonial-card-4 {bottom: 40px;left: 200px;}
.testimonial-card-5 {bottom: 100px;right: 70px;}
.testimonial-card-6 {bottom: 600px;left: 720px;}
.testimonial-card-7 {bottom: 90px;right: 650px;}

@media (max-width: 959px) {
    .testimonial-card-0 {top: 50px;left: 10px;}
    .testimonial-card-1 {top: 150px;right: 40px;}
    .testimonial-card-2 {bottom: 170px;left: 80px;}
    .testimonial-card-3 {top: 0;right: 20px;}
    .testimonial-card-4 {bottom: 40px;left: -10px;}
    .testimonial-card-5 {bottom: 100px;right: -30px;}
    .testimonial-card-6 {display: none;}
}